.cards{
    position: absolute;
    top: -50px;
    transition: all ease .2s;
    max-width: 250px !important;
    min-width: 300px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cards p{
    text-decoration: underline;
    font-size: 18px;
    transition: all ease .2s;
    font-weight: 600;
    text-transform: uppercase;
}
.cards p:hover{
    
    cursor: pointer;
    color: rgba(255, 255, 255, 0.616);
}

p::after{
    content: "   ";
    width: 100px;
    height: 3px;
    background-color: yellow;
    color: red;
    background-color: azure;
}
.cards:hover{
    transform: translateY(-10px);
}